VITE_BASE_CHAIN_ID=8453
VITE_BASE_CHAIN_HEX=0x2105

VITE_BASE_RPC_URL=https://mainnet.base.org

VITE_BASE_EXPLORER_URL=https://base.blockscout.com
VITE_BASE_BLOCKSCOUT_API_URL=https://base.blockscout.com/api/v2
VITE_ETHEREUM_BLOCKSCOUT_API_URL=https://eth.blockscout.com/api/v2

VITE_BASE_STATS_API_URL=/base-stats

VITE_PASSPORT_ADDRESS=0xdd4Fc486f3D40D5a0F63CB5dE83a4e46609482B1
VITE_CREDENTIAL_ADDRESS=0x3037e32627d0b26Eb7f52BDB289a217De830DDe5
VITE_LEVEL_NFT_ADDRESS=0x449Abb9a32b15bC7bB5228A91b7b268B5E70d45c

VITE_MAX_BASE_TRANSACTIONS=3000
VITE_MAX_ETHEREUM_TRANSACTIONS=2000
VITE_MAX_SCORING_TX_PER_DAY=10
VITE_API_REQUEST_TIMEOUT_MS=15000